name: build python
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"
  push:
    branches:
      - master
    paths:
      - python/**
jobs:
  push:
    name: "yolks:python_${{ matrix.tag }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          #- '3.8'
          #- '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'

          - '3.12-mr'
          - '3.13-mr'
          - '3.14-mr'

          - '3.12-mr-ffmpeg'
          - '3.13-mr-ffmpeg'
          - '3.14-mr-ffmpeg'

          - '3.12-nep'
          - '3.13-nep'
          - '3.14-nep'

          - '3.12-git'
          - '3.13-git'
          - '3.14-git'

          - '3.12-tini'
          - '3.13-tini'
          - '3.14-tini'

          #- '3.12-t-ffmpeg' #I'm removing this, who needs FFMPEG with python anyway? But hey, if your reading this, and need it, feel free to make an issue :)
    steps:
      - uses: actions/checkout@v4
      # Setup QEMU for ARM64 Build
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: "soapy7261"
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: ./python
          file: ./python/${{ matrix.tag }}/Dockerfile
          platforms: linux/amd64 #, linux/arm64
          push: true
          tags: |
            ghcr.io/soapy7261/yolks:python_${{ matrix.tag }}
